<% @source = TaliaCore::ActiveSource.find(:first, :conditions => { :id => params[:id] }, :prefetch_relations => true) %>

<h1><%= @source[N::DCNS.title].first || N::URI.new(@source).to_name_s %></h1>
<% for pred in @source.direct_predicates %>
<h2><%= N::URI.new(pred).to_name_s %></h2>
<ul>
	<% for prop in @source[pred] %>
	<li>
		<%= prop.is_a?(TaliaCore::ActiveSource) ? link_to(N::URI.new(prop.uri).to_name_s, prop.uri.to_s) : prop.to_s %>
	</li>
	<% end %>
</ul>
<% end %>