<%# Copyright (c) 2010 Net7 SRL, <http://www.netseven.it/>       %>
<%# This Software is released under the terms of the MIT License %>
<%# See LICENSE.TXT for the full text of the license.            %>

<html>
<head></head>
<body>
	<ul>
		<% for notebook in @notebooks%>
			<li><%= notebook.to_uri.to_s %></li>
		<% end %>
	</ul>
</body>
</html>