<div class="back"><%= index_link %></div>

<h2><%= @source[N::DCNS.title].first || @source[N::RDFS.label].first || @source.uri.to_name_s %></h2>

<%= render(:partial => 'property_list') %>

<% if(@source.data_records.size > 0) %>
<h2>Data Records</h2>
<%= render(:partial => 'data_list') %>
<% end %>