<%# Copyright (c) 2010 Net7 SRL, <http://www.netseven.it/>       %>
<%# This Software is released under the terms of the MIT License %>
<%# See LICENSE.TXT for the full text of the license.            %>

<h1>New source</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => :index %>